@import'../../../../assets/scss/color.scss';

.heading {
  font-size: 20px;
  font-weight: 500;

  padding-left: 8px;
}

.btn-tambah-barang {
  color: $white;
  background: $primary-color;
  float: right;
  margin-right: 8px;
  margin-bottom: 8px;
}

.btn-export-barang {
  float: right;
  margin-right: 8px;
}